@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400&display=swap');
.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}
h1,h2,h3{
	font-family:"Rowdies", sans-serif;
}
body{
	font-family:"Rowdies", sans-serif; font-size: 18px; color:#666666; margin: 0
}
header{
	width: 100%;height: 60px; background-color: #AAAAAA;border-bottom: 1px solid #8B0000
}
.menu ul{
	margin: 0;padding: 0;list-style: none; display: flex; 
}
.menu{
	padding-top: 19px
}
.menu ul li a{
	padding: 10px 20px; text-decoration: none; text-transform: capitalize; font-size: 18px; font-weight: 600;color:#222222; border-radius: 20px
}
.menu ul li a:hover{
background-color: white; color: hotpink
}
/*phan slider*/
#slide .owl-dots{ position:absolute; bottom: 10px; left:45%;}
#slide .owl-dots .owl-dot span {
      width: 12px;
      height: 12px; 
}
#slide .owl-nav { position:absolute; left:0px; top:40%; width:100%; }
#slide .owl-nav [class*='owl-'] {
	font-size:70px; /*background:rgba(255,255,255,.5);border:1px solid #fff; */ color: #666666
}
#slide .owl-nav .owl-next{ position:absolute; right:5%;}
#slide .owl-nav .owl-prev{ position:absolute; left:5%;}
#slide .owl-nav [class*='owl-']:hover {
      background:none;border: none;
      color:hotpink;
      text-decoration: none; }
.text-do{
	color: darkred
}
aside ul{
	margin: 0; padding: 0; list-style: none; display: flex; flex-direction: column
}
aside ul li{
	border-bottom: 1px solid #9E9E9E
}
aside ul li a{
	padding: 10px;display: block; text-decoration: none;color: #666666
}
aside ul li a:hover{
	background-color: darkred; color: white
}
footer a{
	text-decoration: none;color: #666666
}
footer a:hover{
	color: darkred
}
.bg-xanh{
	background-color: aqua;
}
footer ul{
	margin: 0;padding: 0; list-style: none; display: flex; flex-direction: column
}
footer ul li a{
	display: block;padding: 10px
}
footer ul li a:hover{
	color: white;font-weight: 600
}
.ghichu{
   flex-direction: column; list-style: none; display: block; font-size: 15px
}